header{
    width: 300px;
    background-color: #EBEDF0;
}

#logoH{
   width: 7%;
   padding: 0 20px 0 20px;
}
#tituloH{
    display: inline-block;
    margin: 35px 0;
    font-weight: bold;
    font-size: 30px;
    color: #0a3870;
  

}

body{
    background-color: #EBEDF0;
}

.encriptar{
    display: inline-block;
    vertical-align: top;
    width: 700px;
}

#teclado{
    display: block;
    font-size: 20px;
    color: #0a3870;
    margin: 0px 10px 0px 100px;
    border-style: hidden;
    background-color: #EBEDF0 ;
    resize: none;
    outline: none;
    

}
#textInforma{
    margin: 0px 0px 10px 100px;
    color: #7B7E80;
    font-size: 13px;
}

.btnEjec{
   margin: 7px 0px 0px 100px;
   padding: 12px 75px;
   background-color: #0a3870;
   border: none;
   border-radius: 10px;
   color:white;

}

.resultado{
    display: inline-block;
    width: 40%;
    margin: 0;
    background-color: white;

}