header{
    display: inline-block;
    width: 40%;
    background-color: #EBEDF0;
    
}

#logoH{
   width: 7%;
   padding: 0 20px 0 20px;
}
#tituloH{
    display: inline-block;
    margin: 35px 0;
    font-weight: bold;
    font-size: 30px;
    color: #0a3870;

}

body{
    background-color: #EBEDF0;
    

   
}

.encriptar{
    display: inline-block;
    margin: 0 0 0 0;
    
    width: 60%;
}

#teclado{
    display: block;
    font-size: 20px;
    color: #0a3870;
    margin: 0px 10px 0px 100px;
    border-style: hidden;
    background-color: #EBEDF0 ;
    resize: none;
    outline: none;
}
#textInforma{
    margin: 0px 0px 10px 100px;
    color: #7B7E80;
    font-size: 13px;
}

.btnEjec{
   margin: 7px 0px 0px 100px;
   padding: 12px 75px;
   background-color: #0a3870;
   border: none;
   border-radius: 10px;
   color:white;

}

.resultado{
   
    display: inline-block;
    width: 30%;
    height: 40%;
    background-color: white;
    border-radius: 30px;
    margin-top: 0%;
    flex-grow: 1;
    
}


.textoResultado{
    color: #072B61;
    text-align: center;
    margin: 0 ;
    margin-bottom: 10px;
}

#resultadoTitulo{
    font-size: 20px;
    font-weight: bold;
}

.copiar{
    margin-left: 25%;
    margin-bottom: 3%;
    padding: 12px 75px;
    background-color: #0a3870;
    border: none;
    border-radius: 10px;
    color:white;
}
